<form action="/submit" method="post" id="editor">
  <input type="hidden" name="submission[hackathon]" value="<%= params[:hackathon] %>" id="submission_hackathon" />
  <input type="hidden" name="submission[seconds]"   value="<%= Time.now %>"           id="submission_seconds" />

  <header>
      <input type="text" id="submission_name" name="submission[name]" placeholder="Nickname..."/>
      <button type="submit" id="submit">!light</button> <!-- Submit button -->
  </header>

  <textarea name="submission[html]" id="submission_html" spellcheck="false" placeholder="Enter your code here ..."></textarea>

  <div id="count">
    <div id="characters"><em>0</em> CHARS</div>
    <div id="lines"><em>0</em> LINES</div>
  </div>
</form>
